<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="9c2fa7dd-4122-44af-b497-def7da7e45f6" Publisher="CN=repsa" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="9c2fa7dd-4122-44af-b497-def7da7e45f6" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Repsaj.Bots.Domoticz.App</DisplayName>
    <PublisherDisplayName>Jasper Siegmund</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Repsaj.Bots.Domoticz.App.App">
      <uap:VisualElements DisplayName="Domoticz Cortana App" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="This app is used together with the Domoticz Cortana skills. By running the app, Cortana can now invoke API commands in your local network without the need for open firewalls. Ensure you're the app on the PC where you are also invoking Cortana commands." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="domoticz">
            <uap:Logo>Assets\domoticz.png</uap:Logo>
            <uap:DisplayName>Domoticz</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>